body {
  color: rgb(255, 255, 255);
  background-image: url("../img/background.jpeg"); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

main {
  min-height: calc(100vh - 160px);
}

#contenedor {
  display: flex;          
  flex-wrap: wrap;       
  justify-content: center; 
  gap: 1rem;             
  padding: 1rem;
}

.card {
  overflow-y: auto; 
  height: 24rem;
  flex: 0 1 18rem;      
  margin-bottom: 1rem;   
  border-radius: 10px; 
  background: rgba(255, 255, 255, 0.466);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: black; 
}

.card .card-text {
  max-height: 6rem; 
  text-align: left;
}

.card-title {
  font-style: oblique;
  font-weight: bold;
}

.card-img-top {
  object-fit: cover; 
}

.card-body {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(30, 52, 148), rgb(118, 206, 206));
  border-radius: 10px; 
  min-height: 30px;    
  height: 30px;       
}